*{

margin:0;
padding:0;

}
.logo{
    margin-left: 20%;
    padding-bottom: 170px;
}
nav{
    margin-left:20px;
    font-size: 17px;
    margin-right: 20px;
    border-bottom: 1px solid rgb(219, 218, 218);
}
nav li:nth-child(1) { 
    padding-left:70px;
  }
  nav li:nth-child(2) { 
    padding-left:600px;
  }

nav li:nth-child(3) { 
    padding-left:60px;
  }
nav li:nth-child(4) { 
    padding-left:60px;
  }
nav li:nth-child(4) { 
    padding-left:60px;
  }
nav li:nth-child(5) { 
    padding-left:60px;
  }
  nav li:nth-child(6) { 
    padding-left:60px;
    text-transform: capitalize;
  }
    
nav ul li {
    display: inline-block;
    
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}
.start-chapter{
    border-bottom:1px solid rgb(219, 218, 218);
    margin-top:100px;
    padding-bottom: 50px;
}
.start-chapter h1{
    float: left;
    padding-top: 50px;
    font-size: 45px;
    font-weight: 400;
}
.start-chapter img{
    padding-left:150px;
}
.intro-text h1{
    text-align: center;
    font-size: 70px;
    font-weight: 100;
}




